@import url('https://fonts.googleapis.com/css2?family=Almarai&display=swap');

/* font-family: 'Almarai', sans-serif; */
button {
  padding: 6px 10px;
  font-size: 16px;
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
}

input {
  padding: 6px;
  border-radius: 4px;
  border: 1px solid white;
  margin: 5px;
  font-size: 16px;
}

select {
  padding: 6px;
  border-radius: 4px;
  border: 1px solid white;
  margin: 5px;
  font-size: 16px;
}

.App {
  margin: 0;
  text-align: center;
  background-color: rgb(0, 100, 0);
  color: white;
  background: 
  linear-gradient(
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0.75)
  ), url("./assets/cardsHeroImage.jpg");
	background-position: center; 
	background-repeat: no-repeat; 
  background-size: cover;
  min-height: 100vh;
}

.card-school-game-title {
  padding: 30px;
}

h1 {
  margin: 0px;
  padding: 10px;
  font-family: 'Almarai', sans-serif; 
}

li {
  margin-bottom: 5px;
}

.menu-button {
  background-color: lightsteelblue;
	color: black;
  padding: 10px 15px;
  font-weight: bold;
  min-width: 250px;
  margin: 0px auto;
}

.menu-button:hover {
  background-color: ghostwhite;
}

.card-school-button-container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 15px;
}

@media screen and (max-width: 420px) {
  ol {
    padding-left: 20px;
  }
}









