.yellow {
    background-color: yellow;
    color: black;
}


.score-table {
    margin-left: auto;
    margin-right: auto;
    
}

.whist-card-pot {
    background-color: rgb(3, 85, 3);
    min-height: 160px;
    border: 1px solid white;
    border-radius: 20px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    padding-bottom: 20px;

}

.card-pot-title {
    color: white;
    margin: 0;
    padding: 5px;
} 

.whist-game-title {
    margin: 0 !important;
    padding: 5px !important;
}

.whist-info-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    justify-items: center;
    margin-bottom: 20px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;

}

.trump-card-image {
    background-color: white;
    padding: 30px 15px;
    border-radius: 10px;
    height: 50px;
    width: 50px;
}

.trump-suit-title {
    margin: 0;
}

.whist-round-number-container {
    width: 80px;
    height: 110px;
    line-height: 110px;
}

.whist-round-number {
    font-size: 40px;   
    background-color: white;
    margin: 0px;
    color: black;
    border-radius: 10px;
    font-weight: bold;
}

.whist-player-turn-name {
    font-weight: bold;
}

.whist-prediction-select {
    margin-bottom: 15px;
}

@media screen and (max-width: 1000px) {
    .whist-card-pot {
        width: 90%;
    }

    .whist-info-container {
        width: 90%;
    }
    
}