.whist-game-title {
    padding-top: 10px !important;
    padding-bottom: 15px;
}

.yellow {
    background-color: yellow;
    color: black;
}


.score-table {
    margin-left: auto;
    margin-right: auto;
    
}

.whist-card-pot {
    background-color: rgb(0, 80, 0);
    min-height: 160px;
    border: 3px solid white;
    border-radius: 20px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    padding-bottom: 20px;
}

.card-pot-title {
    color: white;
    margin: 0;
    padding: 5px;
} 

.player-card-container {
    display: inline-block;
}

.player-card-container p {
    margin: 0px;
}

.whist-info-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    justify-items: center;
    margin-bottom: 20px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;

}

.trump-card-image {
    background-color: ghostwhite;
    padding: 30px 15px;
    border-radius: 10px;
    height: 50px;
    width: 50px;
    border: 2px solid black;
    box-shadow: 5px 10px 18px #3a3a3a;
}

.trump-suit-title {
    margin: 0;
    padding-bottom: 4px;
}

.whist-round-number-container {
    width: 80px;
    height: 110px;
    line-height: 110px;
}

.whist-round-number {
    font-size: 40px;   
    background-color: ghostwhite;
    margin: 0px;
    color: black;
    border-radius: 10px;
    font-weight: bold;
    border: 2px solid black;
    box-shadow: 5px 10px 18px #3a3a3a;
}

.whist-player-turn-name {
    font-weight: bold;
    margin: 0;
}

.whist-prediction-select {
    margin-bottom: 15px;
}

.confirm-prediction-button {
    background-color: lightsteelblue;
}

@media screen and (max-width: 1000px) {
    .whist-card-pot {
        width: 90%;
    }

    .whist-info-container {
        width: 90%;
    }
    
}